/* Estilos da aplicação */

/* Container principal */
.app-container {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #fafafa;
}

/* Estilos da barra de navegação */
.navbar {
  background-color: #014BA0; /* Cor de fundo da navegação */
  width: 100vw;
  height: 60px;
}

/* Lista de itens de navegação */
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

/* Estilos dos itens de navegação */
.nav-item {
  padding: 7px 12px;
}

/* Estilos dos links de navegação */
.nav-link {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease; /* Adicionando transição suave */
}


/* Estilos dos links de navegação ao passar o mouse */
.nav-link:hover {
  background-color: #136bcfbd; /* Cor de fundo ao passar o mouse */
}

/* Conteúdo principal */
.content {
  flex: 1;
  padding: 20px;
}

/* Títulos */
.title {
  color: white;
}
