.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-title {
  margin-bottom: 25px;
  color: #2174D4;
}

.chat-box {
  width: 100%;
  max-width: 600px;
  background: rgb(237, 237, 237, 0.3) !important;
  border: 2px solid #CCCCCC;
  padding: 20px;
  padding-left: 0px;
  border-radius: 15px;

}

.messages {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  margin: 10px;
  text-align: end;
 
}

.bot-message {
  color: #0A5CB8;
  padding-left: 27px;
  text-align: left;
  max-width: 30ch;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.chat-input {
  margin-left: 30px;
  width: 90vw;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #dededef6;
  background: transparent;
}

.send-button {
  padding: 10px 20px;
  background-color: #1D9CFE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}
