.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.chat-title {
  margin-bottom: 20px;
  color: #2174D4;
  font-weight: 800;
  font-size: 26px;
}

.chat-box {
  width: 100%;
  max-width: 600px;
  background: rgba(249, 249, 249, 0.92) !important;
  border: 2px solid #CCCCCC;
  padding: 20px;
  border-radius: 15px;
}

@media (max-width: 700px){
  .chat-box{
    max-width: 500px;
  }
}

@media (max-width: 580px){
  .chat-box{
    max-width: 300px;
  }
}

.messages {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-right: 10px;
}

.message {
  margin: 10px;
  position: relative;
  left: 18px;
  text-align: end;
}

.bot-message {
  color: #0651a7;
  position: relative;
  left: -7px;
  text-align: left;
  max-width: 30ch;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding: 10px 0;
}

.chat-input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d4d4d4;
  background: transparent;
}

.send-button {
  padding: 10px 20px;
  background-color: #1D9CFE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.download-button-container {
  margin-top: 20px;
}

.download-button {
  padding: 10px 20px;
  background-color: #1D9CFE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.typing-indicator .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 4px;
  background-color: #ccc;
  border-radius: 50%;
  animation: typing 1s infinite ease-in-out;
}

@keyframes typing {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}
